.navbutton:hover {
	background-color: gray;
}

.div_border {
	border: 1px solid #FE980F;
	border-radius: 5px;
}

.height_topper {
	height: 30px;
	background: #FE980F;
}

.a_text {
	color: #fff;
	padding: 5px;
}

.a_text:hover {
	color: #fff !important;
}

.padding
{
	padding: 5px;
}

.container_background
{
	background-color: #F3F6F5;
}

.error{
	border:2px solid red;
}

.error{
	border:2px solid red;
}